my-agent/__pycache__
my-agent/.DS_Store
my-agent/.env
.DS_Store
reforestAI-agent/__pycache__
reforestAI-agent/.env
.reforestAI-agent.venv
.venv
agents/reforestAI-agent/__pycache__
agents/reforestAI-agent/.env
service_account_credentials.json
uv.lock
pyproject.toml
.python-version
